@media (max-width:801px) {
    header{
        font-size: 20px;
        .cajaIcono {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "icono"
                                "navegador";
            justify-content: center;
            text-align: center;
            .tituloIcono{
                grid-area: icono;
                font-size: 70px;
                display: block;
            }
            .navegador{
                grid-area: navegador;
                display: block;
                padding: 0 50px;
                ul{
                    align-items: center;
                    li{
                        display: block;
                        a{
                            display: block;
                            padding: 4px 8px;
                            &:hover {
                                box-shadow: 15px 10px 20px -10px rgba(0,0,0,1);
                            }
                        }
                    }
                }
            }
        }
    }
    
}